/* <!-- Defoult --> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}



.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 47px;
}




  background-color: #4CE0D7; 
  color: #262626;
  
}



.main{
  display: flex;
  flex-direction: column;
  padding-top: 218px;
  padding-bottom: 141px;
  padding-left: 57px;
  gap: 22px;
  
}



  background-size: cover;
  background-repeat: no-repeat;
  width: 1272px;
  height: 560px;
  border-radius: 20px;

  background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;


