* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}



body{
  font-family: 'Poppins', sans-serif;

  max-width: 1440px;
  padding: 47px 84px;
  margin: 0px auto;
}

.logo img{
  width: 234px;
  height: 49px;
}


.nav img{
  width: 47px;
  height: 47px;
}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 47px;
}


a {
  color: #262626; 
  text-decoration: none;
  padding: 8px 16px;
  transition: 0.3s ease, color 0.3s ease;
  border-radius: 40px;
  background-color: transparent;
}


a:hover {
  background-color: #4CE0D7; 
  color: #262626;
  
}



.main{
  display: flex;
  flex-direction: column;
  padding-top: 218px;
  padding-bottom: 141px;
  padding-left: 57px;
  gap: 22px;
  
}


.main {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)),
  url(./assets/Bkg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1272px;
  height: 560px;
  border-radius: 20px;
}


.highlight {
  background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
